.plans-bodysect {

    &.filter-hide {
        .filter-col {
            flex: 0 0 0;
            max-width: 0;
            width: 100%;
            overflow: hidden;
        }

        .content-col {
            flex: 0 0 100%;
            max-width: 100%;
            padding-left: 0;
        }

    }
}

.filter-col {
    flex: 0 0 340px;
    max-width: 340px;
    width: 100%;
    transition: 0.5s;
    // overflow: hidden;
}

.content-col {
    flex: 0 0 calc(100% - 340px);
    max-width: calc(100% - 340px);
    width: 100%;
    transition: 0.5s;
    padding-left: 50px;
    position: relative;
}

.planswrapper {
    padding: 40px 0 0 0;
}

// Plans
.plans-sortsection {
    padding-top: 10px;
    margin-bottom: 22px;
}

.plans-sortsection__checkboxes {
    margin-bottom: 30px;
    padding-left: 180px;

    .checkbox-field {
        margin-left: 36px;

        &:last-child {
            margin-right: 0 !important;
        }
    }
}

.plans-info-col {
    // display: inline-flex;
    // align-items: center;

    p {
        display: inline-block;
        // margin: 0 16px 0 0;
        font-size: 20px;
        // font-weight: 600;
        color: $dark-base;

        span {
            // font-weight: 700;
            color: #9C9CA3;
        }
    }
}

.sort-select.pages-select {
    width: 74px;
}

.sort-select {
    display: inline-block;
    width: 90px;

    .select2-container {
        width: 100% !important;
    }

    .select2-selection {
        border: 1px solid rgba(#000, 0.1);
        height: 36px;
        border-radius: 8px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 36px;
        font-size: 16px;
        color: $brand-color;
        padding-left: 16px;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: $brand-color;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 100%;
        background: url('../img/index/page-select-arrow.svg') no-repeat center / 16px;
        right: 16px;
        transform: rotate(0);
        transition: 0.3s;

        b {
            display: none;
        }
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
        transform: rotate(180deg);
    }
}

.plans-controls-col {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.plans-control__wrap {
    position: relative;
    margin-left: 20px;
}

.plans-controls__btn {
    height: 40px;
    min-width: 40px;
    padding: 5px 8px;
    border-radius: 8px;
    // border: 1px solid $brand-color;
    transition: 0.3s;

    &:hover {
        background: $brand-color;
        color: #fff;
    }
}

.save-search__btn,
.load-search__btn {

    img,
    svg {
        max-width: 20px;

        path {
            transition: 0.3s;
        }
    }

    &:hover {
        svg path {
            fill: #fff;
        }
    }
}

.pc-search__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 377px;
    padding: 8px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid $gray-500;
    display: none;
    z-index: 2;

    .inputfield {
        position: relative;

        input {
            border: 1px solid $brand-color;
            border-radius: 12px;
            height: 55px;
            width: 100%;
            font-size: 14px;
            padding-left: 14px;
            padding-right: 106px;

            &::placeholder {
                color: #181818;
            }
        }
    }

    .pc-search__btn {
        position: absolute;
        right: 0;
        background: $brand-color;
        height: 55px;
        width: 106px;
        border-radius: 0 12px 12px 0;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }

}

.resultfield {

    .noresult {
        min-height: 55px;
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 14px;
        color: #181818;
    }

    .resultbox {
        position: relative;
        border-radius: 12px;
        border: 1px solid #E8E8E8;
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }

        p {
            margin: 0;
            padding: 10px 30px 10px 12px;
        }

    }
}

.remove-loadsearch {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;

    img {
        width: 20px;
    }
}

.qsearch-btn {
    font-size: 14px;
    color: $brand-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img,
    svg {
        margin-right: 4px;

        path {
            transition: 0.3s;
        }
    }

    &:hover {
        svg path {
            stroke: #fff;
        }
    }

}

// switch
.switch-box {
    display: flex;
    align-items: center;

    p {
        margin: 0 0 0 10px;
        color: #000;
        font-size: 16px;
    }

    input[type=checkbox] {
        display: none;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 36px;
        height: 20px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 18px;
        height: 18px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked+label {
        background: $brand-color;
    }

    input:checked+label:after {
        left: calc(100% - 19px);
    }
}

// -

.toggleviiew {
    height: 50px;
    // display: inline-flex;
    // align-items: center;
    padding: 3px;
    background: #F1F1F1;
    border-radius: 50px;
}

.toggleviiew__btn {
    // border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 3px;
    transition: 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        background: $brand-color;
    }

    svg path {
        transition: 0.3s;
        fill: $brand-color;
    }

    &.active {
        svg path {
            fill: #fff;
        }
    }

    &:hover:not(.active) {
        background: #e1e1e1;
    }
}

// Plan cards
.plans-list {
    padding-bottom: 80px;
}

.plan-card {
    .top_status {
        min-height: 52px;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 24px 24px 0 0;
        position: absolute;
        left: 0;
        top: 0;
        padding: 5px 45px 5px 20px;
        background: rgba(#3656D2, 0.5);

        p {
            margin: 0;
            color: #fff;
            font-weight: 500;
        }

        .favorite {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;

            svg {
                path {
                    transition: 0.3s;
                }
            }

            &.active {
                svg {
                    path {
                        fill-opacity: 1;
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.plan-card__imgbox {
    height: 240px;
    border-radius: 24px;
    position: relative;

    a {
        display: block;
        height: 100%;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 24px;
        }
    }
}

.plan-card__badges {
    position: absolute;
    left: 0;
    bottom: 17px;
    width: 100%;
    z-index: 1;
    padding-right: 59px;
    padding-left: 15px;

    .badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 30px;
        border-radius: 32px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Lexend", sans-serif;
        margin-right: 9px;
        padding: 2px 15px;
        margin-top: 4px;

        &:last-child {
            margin-right: 0;
        }

        &.badge--sale {
            background: #fff;
            color: #FF8282;

        }

        &.badge--new {
            color: #fff;
            background: $brand-color;
        }

        &.badge--popular {
            color: #fff;
            background: #FBBC00;
        }
    }
}

.plan-info {
    padding: 0 16px 16px 16px;
}

.plan-card__menu {
    position: absolute;
    z-index: 2;
    bottom: 17px;
    right: 15px;

    .menubtn {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #fff;

        img,
        svg {
            width: 16px;
        }

    }
}

.plan-card__menulist {
    list-style-type: none;
    margin: 0;
    padding: 8px 16px;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 35px;
    width: 212px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
    display: none;

    &.active {
        display: block;
    }

    li {
        a {
            position: relative;
            padding-left: 32px;
            text-decoration: none;
            color: #181818;
            display: flex;
            align-items: center;
            height: 32px;
            transition: 0.3s;

            .iconfont {
                font-size: 24px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }


            &:hover {
                color: #6D9E07;


            }
        }
    }
}

.plan-card__body {
    padding: 24px 0 18px 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.plan-titlebox {
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 8px;

    h4 {
        width: 100%;
        max-width: calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #0E1735;
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        position: relative;
        display: flex;
        align-items: center;
    }

    .floors {
        width: 100%;
        max-width: 80px;
        flex: 0 0 80px;
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        color: #3C4563;
        text-align: right;
    }
}

.likecount {
    border: 1px solid #6D9E07;
    background: #E5EEE3;
    display: inline-flex;
    align-items: center;
    height: 36px;
    border-radius: 12px;
    font-size: 16px;
    color: #6D9E07;
    padding: 2px 8px;
    margin-right: 5px;

    img {
        width: 20px;
        margin-right: 5px;
    }

    span {
        margin-top: 2px;
    }

}

.plan-iconinfo {
    color: #404040;
    font-size: 14px;
    font-weight: 300;
    margin: 0 6px;
    padding: 6px 0;

    img {
        margin-left: 8px;
        width: 20px;
    }
}

.floorslist {
    span {
        font-weight: 500;
        color: $brand-color;
        cursor: pointer;
    }
}

.compare-btn {
    margin-top: 16px;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    color: $brand-color;
    border: 1px solid $brand-color;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    // display: none;
    display: flex;

    &.show {
        display: flex;
    }

    .compare-btn__icon {
        width: 24px;
        height: 24px;
        display: inline-block;
        background-image: url('../img/index/plus-icon.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        margin-right: 4px;
    }

    &.active {
        background-color: $brand-color;
        color: #fff;

        .compare-btn__icon {
            background-image: url('../img/index/btncheck-icon.svg');
        }
    }
}

@media(max-width:1599.8px) {
    .filter-col {
        flex: 0 0 300px;
        max-width: 300px;
    }

    .content-col {
        flex: 0 0 calc(100% - 300px);
        max-width: calc(100% - 300px);
        padding-left: 44px;
    }

    .plans-control__wrap {
        margin-left: 10px;
    }

    .plan-titlebox h4 {
        font-size: 18px;
    }

    .plan-card__badges .badge {
        margin-right: 1px;
        font-size: 12px;
    }

    .plan-card__imgbox {
        height: 220px;
    }

    .plan-card__badges {
        padding-left: 8px;
        bottom: 8px;
        padding-right: 45px;
    }

    .plan-card__menu {
        bottom: 8px;
        right: 8px;
    }

    .plan-card__body {
        padding-top: 16px;
    }

    .seeplans-section img {
        width: 300px;
        left: 30px;
        bottom: 30px;
    }

    .seeplans-section {
        padding: 30px 30px 30px 340px;
    }



    .plan-card .top_status p {
        font-size: 14px;
    }
}

@media(max-width:1399.8px) {
    .plans-controls-col {
        width: 100%;
        justify-content: space-between;
    }

    .plans-info-col {
        margin-bottom: 10px;
        width: 100%;
        justify-content: space-between;
    }


}

@media(max-width:1199.8px) {
    .plans-sortsection__checkboxes {
        padding-left: 0;
    }

    .plans-sortsection__checkboxes .checkbox-field {
        margin-left: 15px;
    }

    .plans-sortsection__checkboxes {
        margin-bottom: 15px;
    }

    .tablet-justify-between {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .plan-titlebox .floors {
        font-size: 12px;
        max-width: 60px;
        flex: 0 0 60px;
    }

    .plan-titlebox h4 {
        max-width: calc(100% - 60px);
        flex: 0 0 calc(100% - 60px);
    }

    .plan-titlebox {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .plan-info {
        padding: 0;
    }

    .seeplans-section {
        padding-left: 263px;

        img {
            width: 236px;
            bottom: 0;
            left: 17px;
        }
    }

    .seeplans-section {
        padding: 20px 20px 25px 263px;

        h2 {
            font-size: 20px;
            font-weight: 500;
            line-height: 150%;
        }

        p {
            font-size: 12px;
        }

        .seeplans-btn {
            font-size: 14px;
            min-width: 114px;
            min-height: 40px;
            border-radius: 8px;
        }
    }

}